{% load i18n django_bootstrap_breadcrumbs %}

{% if page_obj.object_list %}
  <div class="container">
    {% for question in page_obj %}
      {% with url_name="learning:course/detail/question" %}
        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <a id="link-towards-question" class=" col-md-8"
                 href="{% url url_name question.course.slug question.slug %}">
                <p class="h3">{{ question.title }}</p>
              </a>
              <p class="text-date-question-answer">
                {% blocktrans trimmed with author=question.author created=question.created %}
                  Published by : {{ author }} on {{ created }}
                {% endblocktrans %}
              </p>
            </div>
            <p>{{ question.body|truncatechars:150 }}</p>
          </div>
        </div>
        <hr>
      {% endwith %}
    {% endfor %}
  </div>
{% else %}
  <div class="alert alert-info" role="alert">
    {% trans "No question followed on any course." %}
    {% if "view_course" in course_perms %}
      {% trans "You should consider follow one." context "follow a question" %}
    {% endif %}
  </div>
{% endif %}
