{% extends "learning/course/details/agora/agora.html" %}
{% load i18n django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} − {% trans "Answer a Question" %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb question.title "learning:course/detail/question" course.slug question.slug %}
{% endblock %}

{% block agora %}
  <div class="question">
    <form method="post" action="{% url "learning:course/detail/question/follow" slug=course.slug question_slug=question.slug %}">
      {% csrf_token %}
      <input type="hidden" name="response" value="{{ question.id }}">
      {% if request.user in question.followers.all %}
        <button id="btn-follow-question" type="submit" class="btn btn-warning float-right" data-toggle="modal">
        <i class="fas fa-star"></i>
        </button>
      {% else %}
        <button id="btn-follow-question" type="submit" class="btn btn-warning float-right" data-toggle="modal">
        <i class="far fa-star"></i>
        </button>
      {% endif %}
    </form>
    <h2>{{ question.title }}</h2>
    <hr>
    <p>{{ question.body }}</p>
    <p class="text-info-question-answer">Posted by : {{ question.author }}, on {{ question.created }}</p>
    {% if request.user == question.author %}
      <a href="{% url "learning:course/detail/update/question" slug=course.slug question_slug=question.slug %}"
         class="btn btn-primary my-auto">
        <i class="text"></i> Edit
      </a>
    {% endif %}
  </div>

  <h2>{{ question.responses.count }} Answers : </h2>
  <hr>
  {% for response in question.responses.all %}
    <div class="row">
      <p class="text_info_question_answer">
        {% blocktrans trimmed with author=response.author created=response.created score=response.score %}
          Published by : {{ author }} on {{ created }}.
        {% endblocktrans %}
        <span class="btn-score">{% blocktrans with score=response.score %}Score {{ score }}{% endblocktrans %}</span>
      </p>
      <div class="col-md-1">
        <form method="post" action="{% url "learning:course/detail/question/answer/vote" slug=course.slug question_slug=question.slug %}">
          {% csrf_token %}
          <input type="hidden" name="response" value="{{ response.id }}">
          {% if request.user in response.voters.all %}
            <button type="submit" class="btn btn-sm btn btn-success agora_btn"><i class="far fa-thumbs-up"></i>
            </button>
          {% else %}
            <button type="submit" class="btn btn-sm btn-light agora_btn"><i class="far fa-thumbs-up"></i></button>
          {% endif %}
        </form>
      </div>
      <div class="col-md-11">
        <p>{{ response.body }}</p>
      </div>
    </div>
    <hr>
  {% endfor %}

  <div class="agora_form_body">
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <button id="btn-submit" type="submit" class="btn btn-primary float-right agora_btn">{% trans "Reply" %}</button>
    </form>
  </div>

{% endblock %}
