{% extends "learning/course/details/agora/agora.html" %}
{% load i18n django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} − {% trans "Answer a Question" %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb question.title "learning:course/detail/update/question" course.slug question.slug %}
{% endblock %}

{% block agora %}
  <div class="form-body">
    <form method="post">
      <button id="btn-submit" type="submit" class="btn btn-primary float-right btn-agora">{% trans "Edit" %}</button>
      {% csrf_token %}
      {% include "learning/course/_includes/agora_form.html" %}
    </form>
  </div>
{% endblock %}
