{% extends "learning/base.html" %}
{% load i18n django_bootstrap_breadcrumbs %}

{% block title %}{{ block.super }} − {% trans "Question I’m following" %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% breadcrumb "Asking" "" %}
  {% breadcrumb "My questions" "learning:followed-question" %}
{% endblock %}

{% block learning_content %}

  <h3>{% trans "Questions about course" %}</h3>

  {% include "learning/course/details/agora/followed_question_course.html" %}

  <h3>{% trans "Questions about activity" %}</h3>

  <div class="alert alert-info" role="alert">
    {% trans "No question followed on any activity." %}
  </div>

  <hr>

  <h3>{% trans "Questions about ressource" %}</h3>

  <div class="alert alert-info" role="alert">
    {% trans "No question followed on any ressource." %}
  </div>

{% endblock %}
