{% load i18n learning %}

<h4>{% trans "Edit Page" %}</h4>
<div class="form-group">
  <div class="form-row">
    <div class="col">
      {% include "learning/_includes/form_group_block.html" with field=form.title %}
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      {% include "learning/_includes/form_group_block.html" with field=form.body %}
    </div>
  </div>
</div>
